.TodoItem{
    background-color: #b3c597;
    font-family: 'Libre Baskerville', serif;
    border-radius: 10px;
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.TodoItem-p{
    margin: 24px 0 24px 24px;
    width: colc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}
